<template name="footer">
  <!-- <footer class="main-footer" >
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2022 {{#with href}}<a href="{{href_url}}">{{#with appName}}{{app}}{{/with}}</a>{{/with}}.</strong> All rights reserved.
  </footer> -->

  <footer>
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2022 {{#with href}}<a href="{{href_url}}">{{#with appName}}{{app}}{{/with}}</a>{{/with}}.</strong> All rights reserved.
    </div>
  </footer>
</template>